<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Checkout\Model\Cart">
      <plugin name="DisabledItemCheckout" type="Viktoria\Plugin\Block\Checkout\DisabledItemCheckout" sortOrder="1" disabled="false" />
    </type>
    <type name="Magento\Catalog\Model\Product">
        <plugin name="WebkulCart" type="Viktoria\Plugin\Block\Checkout\Product" sortOrder="1" disabled="false" />
    </type>
    <type name="Magento\Checkout\Block\Checkout\LayoutProcessor">
        <plugin name="DisabledCheckout" type="Viktoria\Plugin\Block\Checkout\DisabledItem" sortOrder="1" disabled="false" />
    </type>
</config>
